In [26]:
import pandas as pd
import os

In [27]:
df14=pd.read_csv('2014.csv',encoding = "ISO-8859-1",usecols=['What Country do you live in?']).rename(columns={'What Country do you live in?':'2014'})
df14=df14['2014'].value_counts()

In [28]:
df15=pd.read_csv('2015.csv',encoding = "ISO-8859-1",header=1,usecols=['Country']).rename(columns={'Country':'2015'})
df15=df15['2015'].value_counts()

In [29]:
df16=pd.read_csv('2016.csv',encoding = "ISO-8859-1",header=0,usecols=['country']).rename(columns={'country':'2016'})
df16=df16['2016'].value_counts()

In [30]:
df17=pd.read_csv('2017.csv',encoding = "ISO-8859-1",header=0,usecols=['Country']).rename(columns={'Country':'2017'})
df17=df17['2017'].value_counts()

In [31]:
df18=pd.read_csv('2018.csv',encoding = "ISO-8859-1",header=0,usecols=['Country']).rename(columns={'Country':'2018'})
df18=df18['2018'].value_counts()

In [32]:
df19=pd.read_csv('2019.csv',encoding = "ISO-8859-1",header=0,usecols=['Country']).rename(columns={'Country':'2019'})
df19=df19['2019'].value_counts()

In [33]:
year14_19=pd.concat([df14,df15,df16,df17,df18,df19],axis=1).fillna(0).astype('int32')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [34]:
year14_19.sort_values(by='2019',ascending=False).head(20)

                    2014  2015   2016   2017   2018   2019
United States       2128  4745  13539  11455  20309  20949
India                881  2461   4193   5197  13721   9061
Germany              455  1976   3883   4143   6459   5866
United Kingdom       721  2403   4573   4395   6221   5737
Canada               306   828   2024   2233   3393   3395
France               198   776   1626   1740   2572   2391
Brazil                96   367   1015    777   2505   1948
Poland               131   833   1971   1290   2122   1922
Australia            182   618   1117    913   2018   1903
Netherlands          154   614   1188    855   1841   1852
Russian Federation     0   650   1419    873   2869   1694
Spain                 97   605   1026    864   1769   1604
Italy                125   506   1137    781   1535   1576
Sweden                99   540   1328    611   1164   1274
Switzerland           83   393    574    595   1010    978
Israel               117   192    439    575   1003    952
Turkey                68   220    445    363   1004    949
Pakistan              48   121    337    454   1050    923
Ukraine               69   222    802    356   1279    868
Austria               66   300    482    477    788    839

In [37]:
year14_19=year14_19.reset_index().rename(columns={'index':'country'})

In [39]:
import country_converter as coco

year14_19['iso3']=year14_19.country.apply(lambda x: coco.convert(names=x,to='ISO3') )

WARNING:root:Azerbaidjan not found in regex
WARNING:root:I prefer not to say not found in regex
WARNING:root:Moldavia not found in regex
WARNING:root:Netherlands Antilles not found in regex
WARNING:root:Other not found in regex
WARNING:root:Other (please specify) not found in regex
WARNING:root:Other Country (Not Listed Above) not found in regex
WARNING:root:Polynesia (French) not found in regex
WARNING:root:Response not found in regex
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:More then one regular expression match for S. Georgia & S. Sandwich Isls.
WARNING:root:Tadjikistan not found in regex

In [45]:
year14_19=year14_19[year14_19['2019']>0].reset_index(drop=True)

In [56]:
year14_19[year14_19['iso3'].apply(lambda x:len(x))<4]

,country,2014,2015,2016,2017,2018,2019,iso3
0,Afghanistan,0,48,48,60,64,44,AFG
1,Albania,0,17,34,76,109,86,ALB
2,Algeria,24,30,38,41,130,134,DZA
3,Andorra,0,4,12,6,15,7,AND
4,Angola,0,6,10,9,11,5,AGO
...,...,...,...,...,...,...,...,...
174,"Venezuela, Bolivarian Republic of...",0,0,0,0,123,88,VEN
175,Viet Nam,0,0,0,0,331,231,VNM
176,Yemen,0,0,3,3,13,19,YEM
177,Zambia,0,1,2,10,9,12,ZMB
178,Zimbabwe,0,5,9,20,39,39,ZWE

In [57]:
year14_19.to_csv('./survey_particp_14_19.csv')